* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Outfit', sans-serif;
    background: linear-gradient(120deg, #6a11cb, #2575fc);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-wrapper {
    background: #fff;
    width: 90%;
    max-width: 950px;
    display: flex;
    border-radius: 20px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 30px 0;
}

.contact-left {
    background: linear-gradient(135deg, #00f2fe, #4facfe);
    flex: 1;
    color: white;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.contact-left h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

.contact-left p {
    font-size: 16px;
    margin-bottom: 8px;
}

.contact-right {
    flex: 1;
    padding: 50px 40px;
    background: #ffffff;
}

.contact-right h2 {
    color: #333;
    margin-bottom: 30px;
    font-size: 28px;
}

.form-group {
    margin-bottom: 20px;
    position: relative;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    outline: none;
    background: transparent;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #2575fc;
}

.form-group label {
    position: absolute;
    top: -10px;
    left: 12px;
    background: white;
    padding: 0 5px;
    font-size: 14px;
    color: #2575fc;
}

.form-group textarea {
    resize: none;
    min-height: 100px;
}

.form-group span {
    color: #ff4d4d;
    font-size: 13px;
    display: none;
}

.form-right button {
    width: 100%;
    padding: 14px;
    border: none;
    background: linear-gradient(to right, #4facfe, #00f2fe);
    color: white;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: transform 0.2s;
}

.form-right button:hover {
    transform: translateY(-2px);
}

@media(max-width: 768px) {
    body {
        margin: 0px 0;
    }

    .contact-wrapper {
    flex-direction: column;
    }

    .contact-left,
    .contact-right {
        width: 100%;
    padding: 30px 25px;
    }

    .contact-left h2,
    .contact-right h2 {
    font-size: 24px;
    }
}